<div class="page-header" >
  <h2>New Project</h2>
</div>

<div>
  Before making a new project here, be sure to upload the project to the servers if the files are not already there. <br>
  You can follow the directions on the <a href="https://github.com/OSC/frame-renderer/#upload-your-project">README</a> on how to do so.
  <br><br>
</div>

<%= render 'form' %>
