#!/bin/sh

#set the resources requests. Job name, time, nodes and cores per task, task count 

#PBS -N maya-render
#PBS -l nodes=1:ppn={{{ cores }}}
#PBS -j oe

# starting the script and loading modules and get the time
tStamp=$(date)
echo "starting at `date`"

#load the singularity and ACCAD modules and record the loaded module list
module use /usr/local/share/lmodfiles/project/osc
module load singularity/2.3.1
module use /usr/local/share/lmodfiles/project/ACCAD
module load maya/2018-ACCAD
module list

CMD="singularity exec $MAYA_IMG Render"
RENDERER="{{{ renderer }}}"
START_FRAME="{{{ start_frame }}}"
END_FRAME="{{{ end_frame }}}"
EXTRA_ARGS="{{{ extra_args }}}"
FILE="{{{ file }}}"
PRJ_DIR="{{{ project_dir }}}"

ARGS="-r $RENDERER ${EXTRA_ARGS} -proj $PRJ_DIR -s $START_FRAME -e $END_FRAME $FILE"

#execute sigularity with Sc File- this will load the maya file and render
#singularity exec $MAYA_IMG Render -r arnold -b 1 -ai:lve 0 -proj {{{ project_path }}} -s $sFrame -e $eFrame {{{ file_path }}}

echo "executing: $CMD $ARGS"
echo "on host:" `hostname`

${CMD} ${ARGS}

STATUS=$?

echo "ended at `date`"
echo "exiting with status $STATUS"

exit $STATUS
