/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  background-color: inherit;
}

.navbar-right {
  float: right;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #6CACE4;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: white
}
/* ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
} */
ul.breadcrumb li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
ul.breadcrumb li a:hover {
  color: #002a4e;
  background-color: inherit;
}

ul.breadcrumb li:last-child::before { 
  content: "";
}